// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1291FA;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #001018;
$grey900: #142129;
$grey800: #1A2A34;
$grey700: #344450;
$grey600: #4E5D6B;
$grey500: #687787;
$grey300: #B3BAC3;
$grey200: #D9DDE1;
