// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1291FA;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #001018;
$gey900: #142129;
$gey800: #1A2A34;
$gey700: #344450;
$gey600: #4E5D6B;
$gey500: #687787;
$gey300: #B3BAC3;
$gey200: #D9DDE1;
