html, body {
  background-color: $black !important;
}

.content {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1540px !important;
  }
}

a {
  color: $grey300 !important;
  font-weight: 600;
  text-decoration: none !important;
}

.simple_form {
  .string {
    text-align: left;
  }

  .form-control{
    background: transparent;
    border-radius: 8px;
    border-color: $grey500;
  }

  .btn-primary {
    width: 100%;
    border-radius: 8px;
  }
}

.form-label {
  color: $grey300;
}
