html, body {
  background-color: $black !important;
}
.content {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1540px !important;
  }
}
