.list-card {
  height: 234px;
  width: 367px;
  margin-right: 1rem;
  border-radius: 1rem;
  background:linear-gradient(0deg, rgba(0,16,24, 1), rgba(0,16,24, 0.3), rgba(0,16,24, 0.1)), url(raw.jpeg);
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 2rem;
  text-decoration: none;


  .card-list-name {
    color: #fff;
    text-align: left;
  }
}

.movies-show {
  color: #fff;

  .action-row {
    display: flex;
    justify-content: space-between;
  }

  .movies-display {
    margin-top: 2rem;
  }
}

.movie-poster {
  width: 152px;
  height: 204px;
  object-fit: cover;
  border-radius: 1rem;
}
